# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

stats/__pycache__

# Jupyter Notebook
analysis/.ipynb_checkpoints
stats/.ipynb_checkpoints


# VS Code settings
.vscode/

# ignore .env files
web/data/

