astroid @ file:///tmp/build/80754af9/astroid_1592495912941/work
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
backcall==0.2.0
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
fake-useragent==0.1.11
html5lib==1.1
idna==2.10
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596207638929/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1604101197014/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
jedi @ file:///tmp/build/80754af9/jedi_1606932564285/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1606148996965/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1604322295622/work
lazy-object-proxy==1.4.3
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1605180228501/work
mccabe==0.6.1
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1596233733784/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
parso==0.7.0
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1604748700719/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1605560620615/work/dist/ptyprocess-0.6.0-py2.py3-none-any.whl
pycodestyle==2.6.0
Pygments @ file:///tmp/build/80754af9/pygments_1604103097372/work
pylint @ file:///tmp/build/80754af9/pylint_1598623985952/work
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
pyzmq==20.0.0
requests==2.25.0
scipy @ file:///tmp/build/80754af9/scipy_1597686650319/work
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1605205327372/work
soupsieve==2.0.1
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tornado @ file:///tmp/build/80754af9/tornado_1606942300299/work
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
urllib3==1.26.2
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
wrapt==1.11.2
